@import 'tailwindcss';

@plugin "@iconify/tailwind4" {
  prefixes: 'fluent';
}

@theme {
  --color-base-100: #f5f5f5;
  --color-base-200: #ebebeb;
  --color-base-300: #d9d9d9;
  --color-base-700: #3d3d3d;
  --color-base-800: #292929;
  --color-base-900: #1a1a1a;

  --color-base-content: #1a1a1a;

  --color-primary: #8baee9;
  --color-success: #7ac270;
  --color-error: #d04e4e;
  --color-warning: #d0ba49;

  --color-distinct-1: #ce9c4f;
  --color-distinct-2: #b5ce4f;
  --color-distinct-3: #69ce4f;
  --color-distinct-4: #4fce82;
  --color-distinct-5: #4fcece;
  --color-distinct-6: #4f82ce;
  --color-distinct-7: #694fce;
  --color-distinct-8: #b54fce;
  --color-distinct-9: #ce4f9c;

  --spacing-boxShadowX: 2px;
  --spacing-boxShadowY: 3px;

  --shadow-shadow: 2px 3px 0px 0px black;
  --drop-shadow-shadow: 1px 2px 0px black;
  --rounded-rounded: 12px;

  --radius-blob: 86% 14% 62% 38% / 62% 57% 43% 38%;
}

@font-face {
  font-family: 'Lexend Mega';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/LexendMega.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
span,
a,
li,
button,
input,
textarea,
label,
select,
table,
th,
td,
ul,
ol,
dl,
dt,
dd,
blockquote,
pre,
code,
hr,
figure,
figcaption,
svg,
img,
video,
audio,
canvas,
iframe,
object,
embed,
details,
summary {
  font-family: 'Lexend Mega', sans-serif;
}
